server:
  compression:
    # http响应的gzip压缩
    enabled: true
    # 压缩所需的最小长度，响应长度大于等于该值就会压缩，默认2KB
    min-response-size: 2048
    # 需要压缩的响应的Content-type
    mime-types:
      - image/png
      - image/jpeg
      - image/jpg
      - text/html
      - application/javascript
      - text/css
      - application/octet-stream
      - application/json

spring:
  jackson:
    time-zone: UTC
  banner:
    location: classpath:banner.txt
  threads:
    virtual:
      enabled: true  # 开启虚拟线程
  servlet:
    multipart:
      max-file-size: 10MB
  data:
    redis:
      host: localhost
      port: 6379
      password:
      username:
      database: 0      # 数据库索引（默认为0）
      timeout: 1800000 # 连接超时时间（毫秒）
      lettuce:
        pool:
          max-active: 20  # 连接池最大连接数
          max-wait: -1    # 最大阻塞等待时间（负数表示无限制）
          max-idle: 5     # 最大空闲连接数
          min-idle: 0     # 最小空闲连接数

# TODO: security
security:
  crypto:
    default-encrypt: AES
    default-decrypt: AES
    aes-key: g64fi7uihebib6d34njcbybfiuyiusyhdf98q38i7unqi7ew
  sign:
    secret: g876q3f4fiddybc7684cq87b634fg87
  rsa:
    secret: g876q3f4fiddybc7684cq87b634fg87  # 可选，用于确定性生成
    data-id: im-rsa-keys.yml
    refresh-enabled: true
    check-interval: 1800000 # 单位：毫秒
    key-ttl: 720  # 单位：小时
    key-type: yaml
  qrcode:
    default-width: 300
    default-height: 300
    format: PNG
    error-correction-level: L
  oauth2:
    authorization-code-ttl-seconds: 300
    pkce-required: true
    clients:
      - client-id: mobile-app
        redirect-uris:
          - 'myapp://oauth/callback'
        scopes:
          - 'read'
          - 'write'
        require-pkce: true
  auth:
    expiration: 30                                                      #JWT过期时间 单位：min
    refresh-expiration: 168                                             #refreshToken 过期时间 单位：hour
    reuse-refresh-tokens: false
    secret: 'dasfdffdsfgfadgfshfghfgdsfgxcxfdghhfh'                     #JWT盐值
    ignore:
      - '/api/v1/auth/login'
      - '/api/v1/auth/encrypt'
      - '/api/v1/auth/publickey'
      - '/api/v1/auth/qrcode'
      - '/api/v1/auth/qrcode/status'
      - '/api/v1/auth/sms'
      - '/api/*/oauth2/token'

# TODO: log settings
logging:
  config: classpath:logback-plus.xml  #日志配置文件，会在当前项目下去找日志配置文件
  level:
    com.xy.lucky.*: info
    org.springframework: warn

# TODO 榛子云短信服务
sms:
  apiUrl: https://sms_developer.zhenzikj.com
  appId: 112181
  appSecret: 86813b86-b431-46ea-bd55-fcf63c2990a3
