server:
  compression:
    # http响应的gzip压缩
    enabled: true
    # 压缩所需的最小长度，响应长度大于等于该值就会压缩，默认2KB
    min-response-size: 2048
    # 需要压缩的响应的Content-type
    mime-types:
      - image/png
      - image/jpeg
      - image/jpg
      - text/html
      - application/javascript
      - text/css
      - application/octet-stream
      - application/json

spring:
  jackson:
    time-zone: UTC
  banner:
    location: classpath:banner.txt
  threads:
    virtual:
      enabled: true  # 开启虚拟线程
  servlet:
    multipart:
      max-file-size: 10MB
  data:
    redis:
      host: localhost
      port: 6379
      password:
      username:
      database: 0      # 数据库索引（默认为0）
      timeout: 1800000 # 连接超时时间（毫秒）
      lettuce:
        pool:
          max-active: 20  # 连接池最大连接数
          max-wait: -1    # 最大阻塞等待时间（负数表示无限制）
          max-idle: 5     # 最大空闲连接数
          min-idle: 0     # 最小空闲连接数

#springdoc相关配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    enabled: true
    path: /v3/api-docs
  group-configs:
    - group: 'server'
      paths-to-match: '/**'
      packages-to-scan: com.xy.server  #改成你自己的包名，一般到启动类的包名

# TODO: knife4j相关配置 可以不用改
knife4j:
  enable: true        # 开启增强配置
  production: false   # 开启生产环境屏蔽
  setting:
    language: zh_cn   # 默认中文
    swagger-model-name: 实体类



# TODO: security
security:
  crypto:
    default-encrypt: AES
    default-decrypt: AES
    aes-key: g64fi7uihebib6d34njcbybfi565645v
  sign:
    secret: g876q3f4fiddybc7684cq87b634fg87
  rsa-public-key:
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0lvuzVF/rtMMxkufrEC3p185fdcQBm2Q66AfOdrKe2Uj9vt+v1wC9LuZjX8nkZLjXYvjCxyneo6BDjbT4hjAGjtNMmyE3xZHV4W52XPhWpTrlMTIavyE0HG5Ch5/8jRhTifo0ROiYTYobkURXLcQNTT6rxm/4JPMWWdUa22p5T2udFyWy60T9gEvN+OqkQHQv3zkcIozeVbMuO8aYskag/6Xt7CaI0g6/zhRTBBFXzl8brEGYlkEEc6Y6+D61QPaja36XIBSgQwQz2U/hGRYumwdp9M+Uu2d9PVgX/s9rh5NNmuzxd7xGKHHY4yLPCBUp61VF82wOE9D0j3KgcBoTQIDAQAB
  rsa-private-key:
    MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDSW+7NUX+u0wzGS5+sQLenXzl91xAGbZDroB852sp7ZSP2+36/XAL0u5mNfyeRkuNdi+MLHKd6joEONtPiGMAaO00ybITfFkdXhbnZc+FalOuUxMhq/ITQcbkKHn/yNGFOJ+jRE6JhNihuRRFctxA1NPqvGb/gk8xZZ1RrbanlPa50XJbLrRP2AS8346qRAdC/fORwijN5Vsy47xpiyRqD/pe3sJojSDr/OFFMEEVfOXxusQZiWQQRzpjr4PrVA9qNrfpcgFKBDBDPZT+EZFi6bB2n0z5S7Z309WBf+z2uHk02a7PF3vEYocdjjIs8IFSnrVUXzbA4T0PSPcqBwGhNAgMBAAECggEADwjbDHmispAK/bEx/FGzzpaTuVbBonP6Q5zyHmRwzFjyNRjMekjNPUibNO29mj3xWiJBW+30WmIM/0MT6bjzIezTG6N966Pf/XVlTxFlLeAu5jcaS+s4Yt196Cc95cWwnrFjhm3s0R3ZzefJ0eKTmfnrYNBqUla96DXmZrczyVp5/09jijiZZb0n4ZOuaToLv31SQLGolXBDkkM5RKtwvuu3Zs7JESYa0HiBQfW31mLcF/q86dKNO1rayAx41e7smwsbbI7p2InF4w77KJnmaQIq+Go/q0P2834ZUZalEk+hOn2cwQstu5MsdPaQ+nTCpTggvPeiWn3qRWDatjeNgQKBgQD15AckUZddGARuAS5wo4paMjF8YqY/sGwAix2SpO3rQSCdLCANHmTvbEG9EAZQXArhdQRqF++q5/YIxzle8+lNwIoPOCgV/g8B+laaFswPnHJEEFnRzsKYCtQ+zzlx7AxSTmYNEe5He/nVyfUOxMshxCU+JRIkquD2lAHux/EziQKBgQDbAfBKYc+PK3Tnwm2FTPokfJ8KmEeSVMkTT1Upvgk8P8f9d8UGktC2/h9dqg8bC8eAXhVHb9L95WoLgLusXNqTQJXmybWsQTSsMNQnhx16JZiRFqR8nHRbbF4UryWO7jFEdteQejqfL7xF+n4FQ6TvAmxv3YGmG4RXHpUMhy9ppQKBgEOf+vbaGa7YtB8s5ADGeX5k34c9+kr50jo0CGYURfq1ZqrTP91bxpayR0If7hybs8Jd1GD5REjUkq3HXNfobPmdQlr9LskdnjMFDlxCeMyyUhq2BH3XR11ZXRYJF9tk996LATYHAGlYh1VsvaDaLqOStktpFpxPAp/OBNoO0x9BAoGBANd1acwTvBoy+5lCS3MYDwO0YtcOh2Mr7IIFy1f8sKNIcF0p5nkYGSPekEcali/af9QHO1IDboUAnTph1MC2vQafRJo/mW6027gHdcDJibNwp08eAobheQu0aj5ZLU8XgPrFHD/0MBYJ5WTHEhHlwa6uKLZJKlKbwa/f02z21itNAoGBAI0hCExAOsQ5o6qkZURNTGkEUwB+mCLwFcKlNkbZOdYSZUEus2kHc+oTmJZmg7a6Qk6rSTrdNsGD9O8L3ufYVn4cprW5ckJlWU4Ap1btqmd8s7wNNPDdl+Ra9X6Jjxja3ab/t7GoAZ9Q2gL0CkvlZHGl2TVoD3zc1anqfYwTtAzZ
  rsa:
    key:
      secret: '1234567890' #RSA加密盐值
  auth:
    expiration: 30                                                      #JWT过期时间 单位：min
    secret: 'dasfdffdsfgfadgfshfghfgdsfgxcxfdghhfh'                     #JWT盐值
    ignore:
      - '/api/v1/auth/login'
      - '/api/v1/auth/encrypt'
      - '/api/v1/auth/publickey'
      - '/api/v1/auth/qrcode'
      - '/api/v1/auth/qrcode/status'
      - '/api/v1/auth/password'
      - '/api/v1/auth/password2'
      - '/api/v1/auth/sms'
      - '/doc.html'
      - '/swagger-ui.html'
      - '/webjars/**'
      - '/swagger-resources/**'
      - '/v2/**'
      - '/v3/**'

# TODO: log settings
logging:
  config: classpath:logback-plus.xml  #日志配置文件，会在当前项目下去找日志配置文件
  level:
    com.xy.*.mapper: debug
    com.xy.*: debug
    org.springframework: warn

# TODO 榛子云短信服务
sms:
  apiUrl: https://sms_developer.zhenzikj.com
  appId: 112181
  appSecret: 86813b86-b431-46ea-bd55-fcf63c2990a3

qrcode:
  width: 300
  height: 300
  format: PNG
  error-correction-level: L
