<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.server.mapper.ImFriendshipGroupMapper">

    <resultMap id="BaseResultMap" type="com.xy.server.domain.po.ImFriendshipGroupPo">
        <id property="group_id" column="group_id" jdbcType="INTEGER"/>
        <result property="from_id" column="from_id" jdbcType="VARCHAR"/>
        <result property="group_name" column="group_name" jdbcType="VARCHAR"/>
        <result property="sequence" column="sequence" jdbcType="BIGINT"/>
        <result property="create_time" column="create_time" jdbcType="BIGINT"/>
        <result property="update_time" column="update_time" jdbcType="BIGINT"/>
        <result property="del_flag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        group_id
        ,from_id,
        group_name,sequence,create_time,
        update_time,del_flag
    </sql>
</mapper>
