spring:
  cloud:
    gateway:
      routes:
        # nacos中的服务1（每个服务中可集群多个应用，可在nacos中配置与治理）
        - id: im-connect # 长连接服务
          uri: lb:ws://im-connect
          predicates:
            - Path=/im/**

        - id: im-meet # 多人会议服务
          uri: lb:ws://im-meet
          predicates:
            - Path=/meet/**

        - id: im-service # 业务服务
          uri: lb://im-service
          predicates:
            - Path=/service/**
          filters:
            # 去除一个前缀
            - StripPrefix=1

        - id: im-auth  # 认证服务
          uri: lb://im-auth
          predicates:
            - Path=/auth/**
          filters:
            # 去除一个前缀
            - StripPrefix=1

        - id: im-leaf  # id生成服务
          uri: lb://im-leaf
          predicates:
            - Path=/gen/**

        - id: im-update  # 更新服务
          uri: lb://im-update
          predicates:
            - Path=/up/**
          filters:
            # 去除一个前缀
            - StripPrefix=1

        - id: im-file  # 文件服务
          uri: lb://im-file
          predicates:
            - Path=/upload/**
          filters:
            # 去除一个前缀
            - StripPrefix=1